*{
    margin: auto;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
header{
    height: 60px;
    width: 600px;
    background-color: rgb(74, 71, 71);
    margin-top: 20px;
}
footer{
    margin-top: 920px;
    width: 600px;
    height: 25px;
    background-color: rgb(74, 71, 71);
    margin-bottom: 50px;
}
p{
    padding-top: 3px;
    padding-bottom: 3px;
}        
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(233, 234, 236);
    font-size: 30px;
    font-weight: 700;   
    text-shadow: 2px 4px 4px rgb(4, 4, 5);  
    cursor: pointer;
}   
.name:hover{
    color: rgb(4, 4, 5);  
    text-shadow: 2px 4px 4px rgb(233, 234, 236);
    background-color: rgb(125, 121, 121);
}
.resume{
    width: 600px;
    display: auto;
    margin-top: 25px;
}
.sub-title{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    text-shadow: 1px 2px 2px rgb(213, 209, 209);  
}   
.right-title{
    font-size: 16px;    
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    text-shadow: 1px 2px 2px rgb(213, 209, 209);  
}
div > .aline > p{       
    width: 200px;     
    word-wrap: break-word;
    font-size: 14px;   
}
.left-side{
    width: auto;
    display: flex;
    float: left;
    flex-direction: column;
}
.right-side{
    text-align: left;   
    width: 55%;
    float: right;
}
.icons{ 
    height: 20px;
    width: 20px;    
    margin-left: 5px;
    margin-right: 10px;
}
.aline{
    display: flex;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.between{
    margin: 15px;   
}
.educ{
    width: 220px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.right-educ{
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.line-educ{
    width: 220px;
    font-size: 14px;
    margin-left: 10px;  
}
.right-p{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 25px;
    text-align: justify;
}
.right-out{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
ul.out{
    list-style-position: outside; 
}
button{
    background-color: gray;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 500px;
    font-size: 20px;
    text-shadow: 1px 2px 2px rgb(52, 51, 51); 
    box-shadow: 4px 5px 5px rgb(52, 51, 51);  
}
button:hover{
    background-color: rgb(193, 190, 190); 
    transition: all .15s;
    color: black;
}
.Printme{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media print {
    body *{
        visibility: hidden;
    }
    .overall *{
        visibility: visible;
    }

}