.menu{
    height: 40px;   
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    position: fixed;    
    background-color: rgb(247, 246, 246);
    align-items: center;
    z-index: 100;
}

.home{
    height: 40px;
    background-color: black;
    display: flex;   
    align-items: center;    
    padding-left: 10px;
    padding-right: 10px;
}   
.bio{
    height: 40px;
    background-color: black;    
    display: flex;   
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.about{ 
    height: 40px;
    background-color: black;
    display: flex;   
    align-items: center;
    padding-left: 10px; 
    padding-right: 10px;
}   
a{
    color: white;
}



.container{
    width: 500px;
    margin-top: 60px;
}

#list{
    list-style-type: none;
    list-style: none;
}

.list-container{
       background: rgb(184, 184, 243);
}
.list-container > li{
    width: fit-content;
}

.list-container > li:hover{
    background: black;
    color: white;
    cursor: pointer;
}
.list-container > li > span :hover{
    background: #ad2525;
    color: burlywood
}

.ordered-list::before{
    content:"1";
    width: 100px;
    background: red;
    height: 20px;
}

.paragraph::first-letter{
    font-size: 40px;
}

.parent{
    width: 100%;
    height: 600px;
    overflow: auto;
    border: 1px solid blue;
    padding: 10px 30px 20px;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    /* other option of making grid-template */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

/* .grid-col-span-2{
    grid-column: span 2;
} */

/* responsive css breakpoints */

.box{
    width: 300px;
    height: 300px;
    background: black;
    margin: 20px;
    position: relative;
    top: 20px;
    bottom: 30px;
    left: 20px;
    right: 30px;
}


/* depend on screen of a users */
@media screen and (max-width: 640px){
    .parent {
        flex-direction: column;
    }
}
.box500{
    width: 500px;
    height: 500px;
    border: solid #ad2525;
}
.box100{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid blue;
}
