p{
    max-width: 700px;
    min-width: none;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
    margin-top: 0;        
}
h1{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 2px;
    margin-bottom: -5px;        
}   
body{
    width: 700px;
    border: solid black;
    align-items: center;    
    padding-left: 10px;
    padding-right: 10px;  
    display: grid;
    margin: auto;
}
.background{
    background-color: rgb(240, 242, 243);  
    padding-bottom: 50px;
}
.name{                  
    width: 400px; 
    height: 25px;   
    font-size: 25px;       
    margin-bottom: -5px;
}   
.profile{          
    display: grid;  
    grid-template-columns: 520px 180px;
    position: relative; 
    align-items: center;    
}
.profile > div > p{
    margin-top: 10px;
    margin-bottom: -5px;
}
.icon{                  
    width: 20px;
    height: 12px;      
    margin-bottom: -1px;   
   
}
.pic2x2{
    width: 150px;
    height: 150px;  
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: 18px;
}   
.line-between{
    border-bottom: double black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
}
.profile > div{
    padding-top: 0;
}   
.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;                
    margin-bottom: 10px;  
}
.experience > p{
    margin-top: 0;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
#list{
    margin-top: 5px;
    margin-bottom: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}   
button{
    height: 40px;
    width: 100px;     
    border: none;
    border-radius: 20px;
    background-color: rgb(1, 1, 244);     
    cursor: pointer;        
    margin: auto;    
    display: grid;
    transition: .15s;
}
button:hover{
    background-color: rgb(82, 82, 241);
    color: rgb(240, 242, 243);
}
a{
    margin-top: 7px;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 700px) { 
    .profile {
        display: grid;
        position: relative;
    }       
}











